/* #region Common-Classes  */
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
  background-color: #fff;
  /* *:hover,
  *:focus {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) ease-in-out,
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ease-in-out,
      color 250ms cubic-bezier(0.4, 0, 0.2, 1) ease-in-out;
  } */
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #434455;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
  /* min-height: 100vh; */
}
.section-general-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

/* for section Features and Portfolio*/
.general-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.general-discription {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.block-img {
  display: block;
}
/* #endregion Common-Classes */

/* #region Header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.page-navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.nav-menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-around;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-studio {
  color: #2e2f42;
}

.nav-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition-property: color;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-link:hover,
.nav-menu-link:focus {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
}
.current::after {
  content: "";
  border-radius: 2px;
  /* width: 48px; */
  height: 4px;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
}
/* .current:hover::after .current:focus::after {
} */

/* end to be changed */
.contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
/* .contacts-list-item { */

.contact-details {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-details:hover,
.contact-details:focus {
  color: #404bbf;
}
/* #endregion Header */

/* #region Hero  */

.hero-section {
  background: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  padding: 188px 0;
}
.hero-section .container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.hero-title {
  display: block;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
}
/* .button-box {
  display: flex;
  justify-content: center;
} */
.hero-button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  padding: 0;
  margin-top: 48px;
  margin-left: 495px;
  margin-right: 494px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/* #endregion Hero */

/* #region Features */
.section-features .container {
  align-content: space-around;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-list-item {
  flex-basis: calc((100% - 72px) / 4);
}
.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  /* max-width: 264px; */
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
  padding: 24px 100px;
}

/* #endregion Features */

/* #region Team */
.team-section {
  background: #f4f4fd;
}
.team-section .container {
  align-content: space-between;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.team-card {
  flex-basis: calc((100% - 72px) / 4);
  background: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .team-card:hover .social-link,
.team-card:focus .social-link, */
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* gap: 8px; */
  padding: 32px 0;
}
/* .team-links-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  flex-basis: calc((100% - 72px) / 4); */

/* .links-team {
  gap: 24px;
} */
.social-list {
  display: flex;
  gap: 24px;
  flex-shrink: 0;
  justify-content: center;
}
.social-list .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list .icon {
  fill: #f4f4fd;
}
/* #endregion Team */

/* #region Portfolio */
.portfolio-section .container {
  align-content: space-between;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  align-items: center;
  justify-content: center;
}
.portfolio-item {
  flex-basis: calc((100% - 96px) / 6);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  cursor: pointer;
}
/* Project card with overlay */
.portfolio-item-box {
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 300px;
}

.overlay-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  padding: 40px 32px;
}

.portfolio-item-box:hover .overlay-text,
.portfolio-item-box:focus .overlay-text,
.portfolio-item:hover .overlay-text,
.portfolio-item:focus .overlay-text {
  transform: translatey(0);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.portfolio-desc-box {
  border: 1px solid #e7e9fc;
  border-top: 0;
  padding: 32px 16px;
}

/* #endregion Portfolio */

/* #region Footer */
.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-logo-box {
  margin-right: 120px;
}

.logo-link-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.logo-studio-footer {
  color: #f4f4fd;
}
.footer-text {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
/* Social media */
.footer-links-container {
  display: flex;
  flex-wrap: wrap;
  width: 208px;
  height: 80px;
}
.social-media-text {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  min-width: 96px;
  color: #fff;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 16px;
}
.links-footer {
  display: flex;
  gap: 16px;
}
.footer-social-hover {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ease-in-out;
}
.footer-social-hover:hover,
.footer-social-hover:focus,
.footer-social-hover:active {
  background-color: #31d0aa;
}

/* #endregion Footer*/
