/* #region Common-Classes  */
.hide {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #434455;
}
.block-img {
  display: block;
}

/* For Mobile 320px */
.container {
  max-width: 288px;
  padding: 0 16px;
  padding: 0 4px;
  margin: 0 auto;
}
/* For tablet */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 736px;
    padding: 0 12px;
  }
}
/* for Desktop */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* For Mobile 320px and Tablet*/
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

/* for Desktop */
@media only screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
/* For All screens */
.section-general-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.general-subtitle {
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

/* For Mobile */
.features-list-item > .general-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

/* for section Features and Portfolio desktop*/
@media only screen and (min-width: 768px) {
  .features-list-item > .general-subtitle {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .features-list-item > .general-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
/* Portfolio  All screens*/
.portfolio-item > .general-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.general-discription {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* For Mobile and Tablet*/
.features-list-item > .general-discription {
  font-weight: 500;
}
/* For Desktop */
@media only screen and (min-width: 1158px) {
  .features-list-item > .general-discription {
    font-weight: 400;
  }
}

/* #endregion Common-Classes */

/* #region Header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* For Tablet and Desktop */
@media only screen and (min-width: 768px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.page-header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.page-navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .page-navigation {
    width: auto;
  }
}

.nav-menu-list {
  display: none;
}
/* For Tablet and Desktop */
@media only screen and (min-width: 768px) {
  .nav-menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-around;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: auto;
}

.logo-studio {
  color: #2e2f42;
}
@media only screen and (min-width: 768px) and (max-width: 1158px) {
  .logo {
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}

.nav-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition-property: color;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-link:hover,
.nav-menu-link:focus,
.nav-menu-link.current {
  color: #404bbf;
}
.nav-menu-link.current {
  position: relative;
}

.nav-menu-link.current::after {
  content: "";
  border-radius: 2px;
  height: 4px;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
}

.contacts {
  display: none;
}

@media only screen and (min-width: 768px) {
  .contacts {
    display: inline;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
  }
}

@media only screen and (min-width: 1158px) {
  .contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
.contacts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 1158px) {
  .contacts-list {
    /* display: flex; */
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 12px;
  }
}

@media only screen and (min-width: 1158px) {
  .contacts-list {
    /* display: flex;
    flex-wrap: wrap; */
    gap: 40px;
  }
}

.contact-details {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-details:hover,
.contact-details:focus {
  color: #404bbf;
}
/* #endregion Header */

/* #region Hero  */

.hero-section {
  background: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  padding: 188px 0;
  margin: 0 auto;
}
.hero-section .container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.hero-title {
  display: block;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
  }
}

.hero-button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  padding: 0;
  margin-top: 48px;
  margin-left: 495px;
  margin-right: 494px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus,
.button-subscribe:hover,
.button-subscribe:focus {
  background-color: #404bbf;
}

/* #endregion Hero */

/* #region Features */
.section-features .container {
  align-content: space-around;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.features-list-item {
  flex-basis: calc((100% - 216px) / 4);
}
@media only screen and (min-width: 768px) {
  .features-list {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;

    .features-list-item {
      flex-basis: calc((100% - 72px) / 4);
    }
  }
}

@media only screen and (min-width: 1158px) {
  .features-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.icon-box {
  display: none;
}

@media only screen and (min-width: 1158px) {
  .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    /* max-width: 264px; */
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    padding: 24px 100px;
  }
}

/* #endregion Features */

/* #region Team */
.team-section {
  background: #f4f4fd;
}
.team-section .container {
  align-content: space-between;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .team-list {
    gap: 64px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .team-list {
    gap: 24px;
  }
}

.team-card {
  flex-basis: calc((100% - 72px) / 4);
  background: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* gap: 8px; */
  padding: 32px 0;
}

.social-list {
  display: flex;
  gap: 24px;
  flex-shrink: 0;
  justify-content: center;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-card:hover .social-link,
.team-card:focus .social-link,
.social-link:hover,
.social-link:focus,
.social-link:active {
  background-color: #404bbf;
}
.social-list .icon {
  fill: #f4f4fd;
}
/* #endregion Team */

/* #region Portfolio */
.portfolio-section .container {
  align-content: space-between;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  align-items: center;
  justify-content: center;
}
.portfolio-item {
  flex-basis: calc((100% - 96px) / 6);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  cursor: pointer;
}
/* Project card with overlay */
.portfolio-item-box {
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 300px;
}

.overlay-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  padding: 40px 32px;
}

.portfolio-item-box:hover .overlay-text,
.portfolio-item-box:focus .overlay-text,
.portfolio-item:hover .overlay-text,
.portfolio-item:focus .overlay-text {
  transform: translatey(0);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.portfolio-desc-box {
  border: 1px solid #e7e9fc;
  border-top: 0;
  padding: 32px 16px;
}

/* #endregion Portfolio */

/* #region Footer */
.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-logo-box {
  margin-right: 120px;
}

.logo-link-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.logo-studio-footer {
  color: #f4f4fd;
}
.footer-text {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
/* Social media */
.footer-links-container {
  display: flex;
  flex-wrap: wrap;
  width: 208px;
  height: 80px;
  margin-right: 80px;
}
.social-media-text {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  min-width: 96px;
  color: #fff;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 16px;
}
.links-footer {
  display: flex;
  gap: 16px;
}
.footer-social-hover {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-hover:hover,
.footer-social-hover:focus,
.footer-social-hover:active {
  background-color: #31d0aa;
}
/* end Social media */

/* Footer form */
.footer-subscribe-box {
  display: flex;
  align-items: baseline;
  flex-direction: column;

  max-width: 453px;
}

.subscribe-text {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.subscribe-form {
  display: flex;
  align-items: center;
  gap: 24px;
}
.subscribe-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* margin-right: 24px; */
}
.subscribe-input::placeholder {
  color: #fff;
}
.subscribe-input:focus {
  border-color: #4d5ae5;
}
.button-subscribe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* gap: 16px; */
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.button-icon {
  display: inline;
  margin-left: 16px;
}
/* #endregion Footer*/

/* Modular form */

.modal-overlay {
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  width: 408px;
  min-height: 584px;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  padding: 72px 24px 24px 24px;
}
.modal-overlay.is-open .modal {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}
.modal-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  margin-bottom: 24px;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn-close:hover .modal-btn-icon,
.modal-btn-close:focus .modal-btn-icon {
  fill: #fff;
}
.modal-name-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  width: 100%;
  height: 100%;
  position: relative;
}
.modal-form-field {
  margin-bottom: 8px;
}
.modal-form-field:has(textarea) {
  margin-bottom: 16px;
}
.form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  width: 100%;
  margin-bottom: 4px;
}
.input-wrapper {
  position: relative;
}
.icon-input {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  fill: #2e2f42;
  z-index: 999;
  width: 18px;
  height: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input,
.modal-textarea {
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}
.form-input {
  font-size: 16px;
  padding: 11px 38px;
  padding-right: 11px;
  outline: transparent;
  height: 40px;
}

.modal-textarea {
  color: rgba(46, 47, 66, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  min-height: 120px;
  resize: none;
  padding: 8px 16px;
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-input:focus-within,
textarea:focus-within {
  border-color: #4d5ae5;
}
.form-input:focus {
  border-color: #4d5ae5;
}

.form-input:focus + svg {
  fill: #4d5ae5;
}
/* Checkbox */
.checkbox-wrapper {
  margin-bottom: 24px;
}
.modal-form-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: transparent;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked + .label-policy-text > .modal-form-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-checkbox-icon {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked
  + .label-policy-text
  > .modal-form-checkbox
  > .modal-checkbox-icon {
  opacity: 1;
  border: none;
  fill: #f4f4fd;
}
input[type="checkbox"]:focus-visible
  + .label-policy-text
  > .modal-form-checkbox {
  outline: #404bbf;
}
.label-policy-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.label-policy-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.form-button {
  padding: 16px 32px;
  text-align: center;
  margin: 0 auto;
}

/* end Modular form */

/* Mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  transform: translateX(0%);
}

.mobile-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 24px;
  float: right;
}

@media only screen and (min-width: 768px) {
  .mobile-menu-btn,
  .mobile-menu {
    display: none;
  }
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}
.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu-contacts {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.mobile-menu-socials {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}

.mobile-menu > .modal-btn-close {
  border: #e7e9fc 1px;
  margin-left: auto;
}
